.form {
  max-width: 80%;
  margin: 2rem auto;
  display: block;
}

.submitButtons {
  padding: 1rem 0;
  display: flex;
}

.submitButtons * {
  flex-grow: 1;
}

.textAreaContainer {
  width: 100%;
  height: 100%;
  padding: 0 1rem 2rem;
  box-sizing: border-box;
}

.toggle {
  margin: 1rem 0;
}

@media screen and (max-width: 760px) {
    .form {
        max-width: 100%;
        width: 100%;
    }
}
