.checkbox, .radio {
  display: flex;
  padding: 1rem;
}

.checkbox.narcanOfferedGiven {
  padding: 0 0 1rem;
}

.fields {
  padding: 2rem;
}

.form {
  max-width: 80%;
  margin: auto;
  display: block;
}

.submitButtons {
  padding: 1rem 0;
  display: flex;
}

.submitButtons * {
  flex-grow: 1;
}

.textAreaContainer {
  width: 100%;
  height: 100%;
  padding: 0 1rem 2rem;
  box-sizing: border-box;
}

.toggle {
  margin: 1rem 0;
}

.narcanOffered, .narcanGiven {
  min-width: 10rem;
}

#syringesGiven, #syringesTaken, #numPeople, #ageOfFirstInjection {
  /* width: 20rem; */
}
